.option{
    position: absolute;
    top: 0;
    right: 5%;
    border: 2px dotted rgb(195, 193, 193);
    border-radius: 50%;
    padding: 6px 7px;
    cursor: pointer;

    &__icon{
        font-size: 1.5rem;
        color: rgb(195, 193, 193);
    }
}

.desktop{
    display: none;
}

/**************************************************************
                            Media Quary
**************************************************************/

@media only screen and (min-width: 768px)  {

    .option{
        top: 2%;
    }
    
    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }
}